<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    
    <input type="text" placeholder="titre" name="titre" id="titre-input"><br>
    <button class="create-film">Créer</button>

    <ul id="movie-list">
        <% for ( let index = 0; index < films.length; index++ ) { %>

            <li id="film-<%= films[index].id_film %>"> 

                <a href="/films/<%= films[index].id_film %>">
                    <%= films[index].titre %>
                </a> 

                <button class="delete-film" film-id="<%= films[index].id_film %>">Supprimer</button>
                <button class="edit-film" film-id="<%= films[index].id_film %>">Editer</button>
                
            </li>

        <% } %>
    </ul>

    <script>

        let movies = document.querySelector('#movie-list')
        let moviesChilds = document.querySelectorAll('#movie-list>li')
        let btnsDel = document.querySelectorAll("button.delete-film")
        let btnsEdit = document.querySelectorAll("button.edit-film")

        const socket = io()

        let createButton = document.querySelector('.create-film')
        let titreInput = document.querySelector('#titre-input')

        socket.on("film-create", (newFilm) => {
            let newMovie = document.createElement('li')
            newMovie.setAttribute("id", 'film-' + newFilm[1])
            movies.appendChild(newMovie)
            movies.insertBefore(newMovie, moviesChilds[0])

            let movieTitle = document.createElement('a')
            movieTitle.innerHTML = newFilm[0]
            movieTitle.setAttribute('href', '/films/' + newFilm[1])

            newMovie.appendChild(movieTitle)

            let buttonDelete = document.createElement('button')
            buttonDelete.innerHTML = 'Supprimer'
            buttonDelete.setAttribute('class', 'delete-film')
            buttonDelete.setAttribute('film-id', newFilm[1])

            newMovie.appendChild(buttonDelete)

            let buttonEdit = document.createElement('button')
            buttonEdit.innerHTML = 'Editer'
            buttonEdit.setAttribute('class', 'edit-film')
            buttonEdit.setAttribute('film-id', newFilm[1])

            newMovie.appendChild(buttonEdit)

            buttonDelete.addEventListener('click', () => {

                fetch(`/api/films/${newFilm[1]}`, {
                    method: "DELETE"
                }).then((res) => {
                    res.json().then((json) => {
                        console.log(json)
                    })
                })

            })

            buttonEdit.addEventListener('click', () => {

                Swal.fire({
                    title: 'Edit the title of the movie',
                    input: 'text',
                    inputValue: document.querySelector(`#film-${newFilm[1]}>a`).textContent,
                    confirmButtonText: 'Edit',
                    cancelButtonText: 'Cancel',
                    showCancelButton: true, 
                    inputValidator: (value) => {
                        if (!value) {
                            return 'You need to write something !'
                        } else {
                            fetch(`/api/films`, {
                                method: "PUT",
                                body: JSON.stringify({
                                    id_film: newFilm[1],
                                    titre: value
                                }),
                                headers: {
                                    'Content-type': 'application/json; charset=UTF-8'
                                }
                            }).then((res) => {
                                    res.json().then((json) => {
                                        console.log(json)
                                    })
                            })
                        }
                    }
                })
            })
        })

        socket.on("film-edit", (body) => {
            document.querySelector(`#film-${body['id_film']}>a`).innerHTML = body['titre']
        })

        createButton.addEventListener('click', () => {
            fetch(`/api/films/${titreInput.value}`, {
                method: "POST"
            }).then((res) => {
                res.json().then((json) => {
                    console.log(json)
                })
            }).then(() => {
                titreInput.value = ""
            })

        })

        socket.on("film-delete", (id) => {
            document.querySelector('#film-' + id).remove()
        })

        btnsEdit.forEach((btnEdit) => {
            btnEdit.addEventListener('click', () => {
                let id = btnEdit.getAttribute('film-id')

                Swal.fire({
                    title: 'Edit the title of the movie',
                    input: 'text',
                    inputValue: document.querySelector(`#film-${id}>a`).textContent,
                    confirmButtonText: 'Edit',
                    cancelButtonText: 'Cancel',
                    showCancelButton: true, 
                    inputValidator: (value) => {
                        if (!value) {
                            return 'You need to write something !'
                        } else {
                            fetch(`/api/films`, {
                                method: "PUT",
                                body: JSON.stringify({
                                    id_film: id,
                                    titre: value
                                }),
                                headers: {
                                    'Content-type': 'application/json; charset=UTF-8'
                                }
                            }).then((res) => {
                                    res.json().then((json) => {
                                        console.log(json)
                                    })
                            })
                        }
                    }
                })
            })
        })

        btnsDel.forEach((btnDel) => {
            btnDel.addEventListener('click', () => {
                let id = btnDel.getAttribute("film-id")

                fetch(`/api/films/${id}`, {
                    method: "DELETE"
                }).then((res) => {
                    res.json().then((json) => {
                        console.log(json)
                    })
                })

            })
        })

    </script>

</body>
</html>